<div class="container">
    <h1>Customer List</h1>
    <mat-table [dataSource]="customers">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{ customer.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{ customer.email }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{ customer.phone }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{ customer.address }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'email', 'phone', 'address']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'email', 'phone', 'address'];"></mat-row>
    </mat-table>
  </div>
  
