<div class="cart-main-area p">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="table-content table-responsive">

                  <table>
                      <thead>
                          <tr>
                              <th>Order No</th>
                              <th>User</th>
                              <th>Price</th>
                              <th>Date</th>
                              <th>Order Status</th>
                              <th>Payment Status</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let order of orders">
                              <td>
                                  <div class="div_order_id">
                                      <a [routerLink]="['/order', order.orderId]"
                                          routerLinkActive="active">{{order.orderId}}
                                      </a>
                                  </div>
                              </td>
                              <td>

                              </td>
                              <td style="font-size:14px;">
                                  {{order.total}}</td>
                              <td>
                                  {{order.orderDateTime}}
                              </td>
                              <td>{{order.paymentStatus}}</td>
                              <td>{{order.orderStatus}}</td>
                              <td><div *ngIf="order.orderStatus !== 'Complete'">
                                  <button mat-raised-button color="accent" (click)="sendMessage(order.orderId)">Order Complete</button>
                              </div> 
                              </td>
                          
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>