.container {
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell {
    font-weight: bold;
    font-size: 18px;
  }
  
  .mat-cell {
    font-size: 16px;
  }
  