mat-card {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  
    mat-form-field {
      width: 100%;
    }
  
    button {
      margin-top: 20px;
    }
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    width: 50% !important;
  }