<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width" >
          <mat-label>About Me</mat-label>
          <textarea matInput formControlName="about" required></textarea>
          <mat-error *ngIf="form.controls['about'].hasError('required')">User Id is required</mat-error>
        </mat-form-field>
 
   
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" required>
        <mat-error *ngIf="form.controls['location'].hasError('required')">Location is required</mat-error>
      </mat-form-field>
      
      <button mat-raised-button color="accent" type="submit">Create Profile</button>
    </form>
  </mat-card-content>
</mat-card>