.password-rules .mat-divider {
    position: unset !important;
}
.container{
    padding-top: 20px;
}
mat-card {
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  
    mat-form-field {
      width: 100%;
    }
  
    button {
      margin-top: 20px;
    }
  }