<div class="container">

<h2 mat-dialog-title align="center">Customer Feedback</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <input matInput placeholder="Your Name">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Leave a Comment</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rate this product</mat-label>
    <mat-icon class="star-icon" (click)="setRating(1)">star</mat-icon>
    <mat-icon class="star-icon" (click)="setRating(2)">star</mat-icon>
    <mat-icon class="star-icon" (click)="setRating(3)">star</mat-icon>
    <mat-icon class="star-icon" (click)="setRating(4)">star_border</mat-icon>
    <mat-icon class="star-icon" (click)="setRating(5)">star_border</mat-icon>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial  color="accent" (click)="add()">Add Comment</button>
</mat-dialog-actions>
</div>