<mat-card>
  <mat-card-header>
    <mat-card-title>
      Add Menu
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="menuForm">
      <mat-form-field>
        <input matInput formControlName="menu_id" placeholder="Menu ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="user_id" placeholder="User ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="item_id" placeholder="Item ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="availability_time" placeholder="Availability Time">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="status" placeholder="Status">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="ingredients" placeholder="Ingredients">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="recipe" placeholder="Recipe">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="price" placeholder="Price">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="quantity" placeholder="Quantity">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="selling_type" placeholder="Selling Type">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="category_id" placeholder="Category ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="menu_image" placeholder="Menu Image">
      </mat-form-field>
      <button mat-raised-button (click)="submitForm()">Add Menu</button>
    </form>
  </mat-card-content>
</mat-card>
