<div class="container mt-4">
    <div *ngIf="sellerProfile">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="ff-secondary">{{sellerProfile.customer?.firstName}}&nbsp;{{sellerProfile.customer?.lastName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row mt-4 mb-4">
                <div class="col profile-picture ms-2">
                    <img src="assets/images/user.png" alt="Profile Picture">
                </div>
                <div class="col profile-details">
                    <p><strong>Location:</strong> {{ sellerProfile.location }}</p>
                    <p><strong>About :</strong> {{sellerProfile.about}}</p>
                </div>
            </div>
            
            <div class="row m-2">
                <div class="col-1">
                    <button mat-fab color="accent" aria-label="order recived">
                        <mat-icon><span class="material-icons">
                                food_bank
                            </span>
                        </mat-icon>
                    </button>

                </div>
                <div class="col-5">
                    <h1 class="ff-secondary text-start" [routerLink]="['/menu/myMenu']" routerLinkActive="active">Received food order {{reviewSummary.orderRecivedCount}} times till date  </h1>
                </div>
                <div class="col-1">
                    <button mat-fab color="accent" aria-label="food ordered">
                        <mat-icon>
                            <span class="material-icons">
                                takeout_dining
                            </span>
                        </mat-icon>
                    </button>


                </div>
                <div class="col-5">
                    <h1 class="ff-secondary text-start" [routerLink]="['/myorder']" routerLinkActive="active">Ordered food {{reviewSummary.orderCount}} times till date</h1>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
    <mat-divider></mat-divider>
      <div class="testimonials section-bg mt-4">
        <div class="container">
              <div class="text-center">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">What Are They Saying</h5>
                <h1 class="mb-3">Feedback</h1>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4" >
                <div *ngIf="reviewSummary">
                <div class="col" *ngFor="let review of reviewSummary.feedbackDTO">
                <div class="card">
                <div class="testimonial-item m-4">
                    <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          {{review.comment}}
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>{{review.userName}}</h3>
                        <div class="stars">
                            
                          <i class="bi bi-star-fill" *ngFor="let i of arrayFromNumber(review.rating)"></i>
                
                          <i class="bi bi-star" *ngFor="let i of arrayFromNumber(getNotFilledCount(review.rating))"></i>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
            </div>
        </div>

      </div>

</div>