<div class="container mt-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ user.firstName }}</mat-card-title>
            <mat-card-subtitle>5-star rated chef</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row mt-4">
                <div class="col profile-picture">
                    <img src="assets/images/user.png" alt="Profile Picture">
                </div>
                <div class="col profile-details">
                    <p><strong>Email:</strong> {{ user.emailId }}</p>
                    <p><strong>Phone:</strong> {{ user.contactNumber }}</p>
                    <p><strong>Location:</strong> {{ user.address }}</p>
                    <p><strong>Specialty:</strong> Indian</p>
                </div>
            </div>
            <div class="row m-3">
                <p>Chef John Doe has over 10 years of experience in culinary arts. He specializes in Italian and French
                    cuisine.</p>
            </div>
            <div class="row m-2">
                <div class="col-1">
                    <button mat-fab color="accent" aria-label="order recived">
                        <mat-icon><span class="material-icons">
                                food_bank
                            </span>
                        </mat-icon>
                    </button>

                </div>
                <div class="col-5">
                    <h1 class="ff-secondary text-start" [routerLink]="['/menu/myMenu']" routerLinkActive="active">Order recived ordered 30 times</h1>
                </div>
                <div class="col-1">
                    <button mat-fab color="accent" aria-label="food ordered">
                        <mat-icon>
                            <span class="material-icons">
                                takeout_dining
                            </span>
                        </mat-icon>
                    </button>


                </div>
                <div class="col-5">
                    <h1 class="ff-secondary text-start" [routerLink]="['/myorder']" routerLinkActive="active">Ordered 30 times</h1>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>
    <div class="container pt-5 pb-3">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                <h1 class="mb-5">Our Master Chefs</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" *ngFor="let review of reviews">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>jojn</mat-card-title>
                            <mat-card-subtitle>Rating: {{review.rating}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                            <h4>{{review.title}}</h4>
                            <p>{{review.description}}</p>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>