
  <!-- Top navbar -->
  <mat-toolbar color="primary">

    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Fresh & Healthy</span>
    <span class="example-spacer"></span>

    <div *ngIf="!user">
      <button mat-raised-button  class="m-2" color="accent" [routerLink]="['/login']">Login</button>
      <button mat-raised-button color="warn" [routerLink]="['/register']">Resgister</button>
    </div>

    <div *ngIf="user" >
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="4" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item>
        <span>You have new tasks</span>
      </a>
      <a mat-menu-item>
        <span>You have a new message</span>
      </a>

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{user.firstName}}
      </span>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>
  </div>
  </mat-toolbar>


  <mat-drawer-container  hasBackdrop="false" role="navigation" class="navbar-container">
    <mat-drawer #drawer mode="side" opened  class="sidenav">
      
      <mat-nav-list>

        <a mat-list-item [routerLink]="['/menu']" routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> restaurant_menu</mat-icon>
         </button>
          <p matListItemTitle> Menu </p>
        </a>
        <a mat-list-item [routerLink]="['/add']" routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> <span class="material-symbols-outlined">
              lunch_dining
              </span> </mat-icon>
         </button>
          <p matListItemTitle> Sell Food </p>
        </a>
        <a mat-list-item [routerLink]="['/myorder']" routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> <span class="material-icons-two-tone">
              menu_book
              </span></mat-icon>
         </button>
          <p matListItemTitle> My Orders </p>
        </a>
        
        
        <a mat-list-item [routerLink]="['/customers']" routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> business</mat-icon>
         </button>
          <p matListItemTitle> Customers </p>
        </a>
        <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> people</mat-icon>
         </button>
          <p matListItemTitle> Users </p>
        </a>

        <a mat-list-item [routerLink]="['/profile']"  routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> person</mat-icon>
         </button>
          <p matListItemTitle> Account </p>
        </a>

        <a mat-list-item [routerLink]="['/about']"  routerLinkActive="active">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> info_outline</mat-icon>
         </button>
          <p matListItemTitle> About </p>
        </a>

        <a mat-list-item [routerLink]="['/register']">
          <button mat-icon-button  matListItemMeta>
            <mat-icon> exit_to_app</mat-icon>
           </button>
          <p matListItemTitle> Log out </p>
        </a>

        <mat-divider></mat-divider>

      </mat-nav-list>

    </mat-drawer>
    <mat-drawer-content role="main">
      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
