.menu-card {
  margin: 10px;

  .menu-description {
    white-space: pre-line;
    margin-top: 10px;
    font-size: 20px;
  }

  .menu-price {
    font-weight: bolder;
    font-size: large;
    font-size: 25px;
  }

  .category {
    font-size: larger;
  font-style: oblique;
  font-weight: bolder;
  font-size: 25px;
  }
  .title {
  font-family: "Playfair Display";
  letter-spacing: 6px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 50px;
  }
}