<div class="container-xxl bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Experience the authentic taste of home-cooked food made with love and care. Our delicious dishes are made from fresh, wholesome ingredients and are perfect for those who crave homemade meals but don't have the time to cook.</p>
                <a href="/menu/myMenu" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Sell food</a>
                <a href="/menu" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Buy food</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="assets/images/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-yellow mb-4"></i>
                        <h5>Home Chefs</h5>
                        <p>A home chef is someone who loves to cook and create delicious meals in their own home with passion.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-yellow mb-4"></i>
                        <h5>Quality Food</h5>
                        <p>It not only nourishes the body but also delights the senses, providing a fulfilling and enjoyable dining experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-yellow mb-4"></i>
                        <h5>Online Order</h5>
                        <p>Making it easier and more convenient than ever before to get the meals you want, when and where you want them.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-yellow mb-4"></i>
                        <h5>24/7 Service</h5>
                        <p>
                            It is a convenient option for those who want to order food or have it collected from nearby at any time of the day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

  