<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col"  *ngFor="let menu of menus">
<mat-card  class="menu-card" >
    <img mat-card-image src="{{menu.menuImage}}">
    <mat-card-content class="mt-3">
      <h1 mat-card-title class="title">{{ menu.item?.itemName }}</h1>
      <div class="row">
        <div class="col">
          <p mat-card-subtitle class="category">{{ menu.category?.categoryName  }}</p>
        </div>
        <div class="col">
          <p class="menu-price">Price: {{ menu.price }}</p>
        </div>  
      </div>
      <p class="menu-description">{{ menu.item?.itemDescription }}</p>
     
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between">
      <button mat-raised-button color="accent" (click)="addToCart(menu)">Add to Cart</button>
      <button mat-raised-button color="primary" [routerLink]="['/menu/details', menu.menuId]">View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>